<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
</head>

<body>
    <div class="main">
        <header th:replace="layout :: header">
        </header>
        <div class="content lang-cn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 user-activity">
                        <div><img class="logo" alt="logo" src="../../images/logo-128.png" th:src="@{/images/logo-128.png}">
                        </div>
                        <div>
                            <h1>CATICKET</h1></div>
                        <div th:if="${error}" th:text="${error}"></div>
                        <div class="pwderror invisible" th:text="#{caticket.pwderror}">密码不一致</div>
                        <div class="lengtherror invisible" th:text="#{caticket.lengtherror}">用户名密码长度至少为4位且不含空格</div>
                        <form class="user-form" action="#" th:action="@{/register}" method="post" th:object="${user}">
                            <div class="form-group">
                                <span class="icon-user vertical-center"></span>
                                <input type="text" class="form-control input-username " placeholder="User Name" th:placeholder="#{caticket.username}" th:field="*{username}" required="required">
                            </div>
                            <div class="form-group">
                                <span class="icon-key vertical-center"></span>
                                <input type="password" class="form-control input-password" placeholder="Password" th:placeholder="#{caticket.password}" th:field="*{password}" required="required">
                            </div>
                            <div class="form-group">
                                <span class="icon-key vertical-center"></span>
                                <input type="password" class="form-control input-pwd-repeat" placeholder="Password Again" th:placeholder="#{caticket.pwdagain}" required="required">
                            </div>
                            <div>
                                <button type="submit" class="joinus red-box" th:text="#{caticket.joinus}">JOIN US</button>
                            </div>
                            <div><a role="button" class="btn signin red-box" href="#" th:href="@{/login}" th:text="#{caticket.signin}">SIGN IN</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout :: footer">
        </footer>
    </div>
    <script src="../../js/caticket.js" th:src="@{/js/caticket.js}" async></script>
</body>

</html>
