<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{caticket.title}">CATICKET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="../../images/favicon.png" th:href="@{/images/favicon.png}" />
    <!--[if IE]><link rel="shortcut icon" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" type="text/css" href="../../css/caticket.css" th:href="@{/css/caticket.css}" />
</head>

<body>
    <div class="main">
        <header th:replace="layout :: header">
        </header>
        <div class="content lang-cn">
            <header class="content-header" th:replace="setting :: child-header">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav child-nav">
                        <li class="active first"><a href="#" th:href="@{/}" th:text="#{caticket.setting}">设置</a></li>
                        <li><a class="disabled">|</a></li>
                        <li><a href="#" th:href="@{/}" th:text="#{caticket.order}">订单</a></li>
                    </ul>
                </nav>
            </header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 order-state">
                        <ul>
                            <li><a href="" th:text="#{caticket.finished}">已完成</a></li>
                            <li>
                                <hr />
                            </li>
                            <li><a href="" th:text="#{caticket.unpaied}">待支付</a></li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default" th:each="reservation : ${reservations}" th:with="sessionItem=${sessionService.findById(reservation.sessionId)}">
                            <div class="panel-heading" th:text="#{caticket.ordernumber} + ${reservation.id}">订单编号：1</div>
                            <div class="panel-body">
                                <div class="row" th:with="movie=${movieService.findById(sessionItem.movieId)}">
                                    <div class="col-md-3 movie-post">
                                        <a href="#" th:href="@{/movies(movieId=${movie.id})}">
                                            <img class="img-responsive" alt="TheHuntsman" src="../../images/TheHuntsman.jpg" th:src="@{'/images/' + ${movie.post}}" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 order-info">
                                        <div class="info-movie">
                                            <p th:text="#{caticket.moviename} + ${movie.name}">电影名称：猎神：冬日之战</p>
                                        </div>
                                        <div class="info-cinema" th:with="cinema=${cinemaService.findById(sessionItem.cinemaId)}">
                                            <p th:text="#{caticket.cinemaname} + ${cinema.name}">影院名称：星美国际影城·世界城店</p>
                                            <p th:text="#{caticket.cinemaloc} + ${cinema.location}">影院地址：星美国际影城·世界城</p>
                                            <p th:text="#{caticket.cinemaphone} + ${cinema.phone}">联系电话：1859657848</p>
                                        </div>
                                        <div class="info-session">
                                            <p th:text="#{caticket.playtime} + ${#calendars.format(sessionItem.beginTime, 'HH:mm a') + '-' + #calendars.format(sessionItem.endTime, 'HH:mm a')}">放映时间：9:00am-10:30am</p>
                                            <p><span th:text="#{caticket.language} + ${sessionItem.language}">语言：英语</span>
                                                <span th:if="${sessionItem.isThreeD}" class="badge">3D</span></p>
                                            <p th:text="#{caticket.playroom} + ${sessionItem.room} + #{caticket.room}">放映厅：1号厅</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 order-seat" th:with="seats=${reservationService.getSeatsById(reservation.id)}">
                                        <p th:text="#{caticket.seats}">选座信息：</p>
                                        <p><span class="label label-info" th:each="seat : ${seats}" th:text="${seat.lineNo} + #{caticket.line} + ${seat.number} + #{caticket.chair}">1排1座</span></p>
                                        <p th:text="#{caticket.total} + ${reservation.price}">总价：￥105</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout :: footer">
        </footer>
    </div>
</body>

</html>
